@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
}
:root {
    --primary-color: #eba834; /* Azul */
    --secondary-color: #2ecc71; /* Verde */
}
main{
    width: 100%;
    max-width: 500px;
    margin: auto;
}
header {
    margin: auto;
    position: sticky;
    z-index: 999;
    top: 0;
    height: 65px;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
}
header div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div > img {
    position: relative;
    top: 20px;
}

footer {
    height: 65px;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer div {
    width: 100%;
}
footer div > a button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    /* font-weight: bold; */
    border-right: 1px solid rgba(255, 255, 255, 0.37);
}
.loginGoogle{
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 13px;
    /* font-weight: bold; */
    border: none;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginGoogle a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
}
.wrapperApp{
    padding: 15px;
    padding-bottom: 150px;
}
.botonAddPlan{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--primary-color);
    color: white;
    font-size: 37px;
    position: fixed;
    bottom: 90px;
    transform: translate(-50%, 0);
    left: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
.botonAddPlan a {
    color: white;
    text-decoration: none;
}
.formularioStandard{
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 30px;

}
.formularioStandard select{
    width: calc(100%);
    height: 40px;
}
.formularioStandard input {
    width: calc(100% - 30px);
    height: 40px;
    padding-left: 20px;
}
.formularioStandard button{
    width: calc(100% - 30px);
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    /* font-weight: bold; */
    border: none;
    cursor: pointer;
    margin: auto;
}
.cardsPlanes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cardPlan{
    flex: 1 1 calc(100%);
    width: calc(100% - 30px);
    height: auto;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardPlan .imagenPlan{
    width: calc(100% - 20px);
    margin: 10px;
    aspect-ratio: 16/9;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.cardPlan .imagenPlan span{
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 10px;
}
.cardPlan .imagenPlan .apuntados{
    top: unset;
    bottom: 4px;
    right: 4px;
}
.cardPlan .imagenPlan img{
    width: 100%;
    aspect-ratio: 16/9;
}
.cardPlan .infoPlan{
    width: 100%;
    margin: 0px 10px;
    margin-bottom: 10px;
}
.cardPlan button{
    width: calc(100% - 20px);
    height: 40px;
    background-color: #f6f6f6;
    color: var(--primary-color);
    font-size: 18px;
    /* font-weight: bold; */
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
}